--- 
layout: bootstrap 
title : Portfolio 
permalink: /portfolio/
subtitle: "Projects I have worked on" 
feature-img: "assets/img/pexels/book-glass.jpeg"
hide: true
---

<!-- Portfolio Grid Section -->
<section class="portfolio">
    <div class="row">
        {% for item in site.portfolio %}
        <div class="col-sm-4 col-xs-4 portfolio-item">
            <a href="{{ site.baseurl }}{{ item.url }}.html" class="portfolio-link" data-keyboard="true">
                <div class="caption" title="{{ item.title }}">
                    <div class="caption-content">
                        <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                </div>
                <img src="{{ site.baseurl }}/{{ item.img }}" class="" alt="">
            </a>
        </div>
        {% endfor %}
    </div>
</section>
